/* * {
    color: white;
}
 
.biere {
    position: absolute;
    top: 115px;
    left: 135px;
    margin-left: auto;
    width: 500px;
}

.filet {
    position: absolute;
    top: 670px;
    left: 90px;
    display: block;
    margin-left: auto;
}

.grenada {
    color: white;
}

div#droite {
    top: 150px;
    right: 60px;
    width: 500px;
}

#puzzle {
    display: flex;
    background-image: url("puzzlerouge.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    width: 100vw;
    
} */


body {
    padding: 0;
    /* margin: 10%; */

    background-color: black;
    /* height: 100vh; */
    font-family: "ts block";
}


::selection {
    color: #0D0D0D;
    background-color: white;
}

@font-face {
    font-family: 'TS Block Bold';
    font-style: normal;
    font-weight: normal;
    src: local('TS Block Bold'), url('TS Block Bold.woff') format('woff');
}


body {
    background-color: #0D0D0D;
    color: white;
}

/* ----------HEADER---------- */
.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}


#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    margin: 0 3%;
}

.header img {
    width: 195px;
    height: 56px;
}

#menu a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

#menu a:hover {
    color: #479944;
    transition: 0.3s;
}

#menu li {
    list-style-type: none;
}

#menu ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

#menu button {
    width: 10em;
    height: 3.5em;
    border: 1px ridge #479944;
    outline: none;
    background-color: transparent;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 10px;
}


button:hover::before,
button:hover::after {
    transform: scale(0)
}

button:hover {
    box-shadow: inset 0px 0px 25px #479944;
}

/* fin */


.all {
    height: 90vh;
    display: flex;
    color: white;
    justify-content: space-around;
    background: no-repeat url("public/images/biere/puzzle_grenada.png");
}



.droite_descr p:nth-child(3) {
    font-family: 'Fr';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;

    color: #FFFFFF;

}

.droite_descr p:nth-child(4) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;

    color: #FFFFFF;
}

.droite_descr p:nth-child(1) {
    font-size: 32px;
}

.droite_descr p:nth-child(2) {
    font-size: 32px;
}

.droite {
    display: flex;
    width: 30%;
    flex-direction: column;
    position: relative;
    right: 100px;
    justify-content: space-evenly;

}

.gauche {
    width: 30%;
    position: relative;
    right: 100px;
}


.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #731c1c;
    background-size: 400%;
    color: #fff;
    border: none;
    font-size: large;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgb(0, 0, 0) 10.8%,
            rgb(134, 3, 3) 94.3%);
    transition: all 0.475s;
}


/* -----------FOOTER---------- */

.footer {
    position: relative;
    width: 100%;
    ;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/lignevague.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 10s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}