* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #0D0D0D;
    background-color: white;
}

body {
    background-color: #0D0D0D;
    color: white;
}

#content {
    min-height: calc(100vh - 100px); /* Réserve 100px pour le pied de page */
    padding-bottom: 100px; /* Espace en bas du contenu pour le pied de page */
}

/* ----------HEADER---------- */


#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    margin: 0 3%;
}

.header img {
    width: 195px;
    height: 56px;
}

#menu a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: 'Roboto';
}

#menu a:hover {
    color: #479944;
    transition: 0.3s;
}

#menu li {
    list-style-type: none;
}

#menu ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

#menu button {
    width: 10em;
    height: 3.5em;
    border: 1px ridge #479944;
    outline: none;
    background-color: transparent;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 10px;
}


button:hover::before,
button:hover::after {
    transform: scale(0)
}

button:hover {
    box-shadow: inset 0px 0px 25px #479944;
}

/* ----------MAIN------------ */

#main {
    margin-top: 60px;
}

#titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -56px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto';
    color: white;
}

h2 {
    padding: 0 20%;

    font-family: 'TS Block';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 76px;
    text-align: center;
}

h3 {
    font-family: 'TS Block';
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    line-height: 76px;
    position: relative;
    top: -82px;
}

#biere {
    display: grid;
    gap: 5%;
    margin-top: 20vh;
}

.biere {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.biere img {
    width: 80%;
}


/* -----------FOOTER---------- */

.footer {
    position: relative;
    width: 100%;
    ;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/lignevague.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 10s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}