*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    color: #fff;
}
::selection {
    color: #0D0D0D;
    background-color: white;
}

@font-face {
    font-family: 'TS Block Bold';
    font-style: normal;
    font-weight: normal;
    src: local('TS Block Bold'), url('TS Block Bold.woff') format('woff');
}

body{
    background-color: black;
    color: white;
}


/* ----------HEADER---------- */
.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
  }


#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    margin: 0 3%;
}

.header img {
    width: 195px;
    height: 56px;
}

#menu a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

#menu a:hover {
    color: #479944;
    transition: 0.3s;
}

#menu li {
    list-style-type: none;
}

#menu ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

#menu button {
    width: 10em;
    height: 3.5em;
    border: 1px ridge #479944;
    outline: none;
    background-color: transparent;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 10px;
}


button:hover::before,
button:hover::after {
    transform: scale(0)
}

button:hover {
    box-shadow: inset 0px 0px 25px #479944;
}

/* fin */

.panier{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 30px;
    font-family: 'TS Block Bold';
}

.article{
    font-size: 32px;
    width: 500px;
    height: 850px;
}

.ts {
    font-family: 'TS Block Bold';
    text-align: center;
}

.biere {
    width: 250px;
}

.num_biere{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nom_biere{
    font-family:'TS Block Bold' ;
    margin-bottom: -5px;
    text-align: center;
}

.champs {
    display: flex;
    align-items: center;
}

#prix{
    font-weight: bolder;
    font-family: 'roboto';


}

.num{
 border: 2px solid black;
 padding: 10px;
 width: 20px;
 border-radius: 100%;
 background-color: black;
 font-size: large;
 font-weight: bold;
 text-align: center;
 color:white;
}


.but{
    border: 2px solid #e8e8e8;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: black;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color:white;
  }

  .but:hover{
    border: 2px solid #479944;
    padding: 10px;
    width: 40px;
    border-radius: 100%;
    background-color: black;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color:white;
    transition: 0,3s;
  }

.produits{
    display: flex;
}

#grille{
    display: flex;
    margin-top: 20px;
}

.total{
    width: 200px;
    margin-left: 100px;
    margin-right: -50px;
}

#deux {
    display: flex;
    position: relative;
    background-image: url(cadre.png);
    background-repeat: no-repeat;
    background-size: 500px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    top: 130px;
}

h2{
    width: 450px;
    margin-top: 100px;
    font-size: 35px;
    height: 24px;
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background-size: 400%;
    color: #fff;
    background-color: #479944;
    border: none;
    margin-top: 25px;
    font-size: large;
  }

  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }

.button::before {
    content: '';
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(0, 0, 0) 10.8%,
      #479944 94.3%
    );
    transition: all 0.475s;
  }

  .footer {
    display: none;
  }