* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

/* ----------HEADER---------- */


#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    margin: 0 3%;
}

.header img {
    width: 195px;
    height: 56px;
}

#menu a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: 'Roboto';
}

#menu a:hover {
    color: #479944;
    transition: 0.3s;
}

#menu li {
    list-style-type: none;
}

#menu ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

#menu button {
    width: 10em;
    height: 3.5em;
    border: 1px ridge #479944;
    outline: none;
    background-color: transparent;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 10px;
}


button:hover::before,
button:hover::after {
    transform: scale(0)
}

button:hover {
    box-shadow: inset 0px 0px 25px #479944;
}


.main {
    height: 100vh;
}


section h1 {
    color: #FFFFFF;
    font-family: 'TS Block Bold', sans-serif;
    font-size: 60px;
    position: relative;
    z-index: 1;
}


h1:hover {
    -webkit-text-stroke: 2px white;
    color: black;
}


#titre {
    justify-content: center;
    display: flex;
}

/*Intégration page Accueil*/
.swatch {
    display: block;
    text-align: center;
    position: relative;
    margin: 10px;
    margin-right: 665px;
    top: -70px
}

.swatch div {
    height: 225px;
    position: absolute;
    top: -30px;
    text-align: center;
    box-sizing: border-box;
    transform-origin: center 90%;
    display: inline-block;
    backface-visibility: hidden;
    margin-left: -10px;
    transform: rotate(0deg);
}

.swatch div:before {
    width: 16px;
    height: 16px;
    content: "";
    display: inline-block;
    border-radius: 8px;
    bottom: 10px;
    position: absolute;
    margin-left: -8px;
}

.swatch div:nth-child(1) {
    animation: swatch-purple-motion 8s cubic-bezier(0.4, 0, 0.2, 1);
}

.swatch div:nth-child(2) {
    animation: swatch-blue-motion 8s cubic-bezier(0.4, 0, 0.2, 1);
}

.swatch div:nth-child(3) {
    animation: swatch-green-motion 8s cubic-bezier(0.4, 0, 0.2, 1);
}

.swatch div:nth-child(4) {
    animation: swatch-yellow-motion 8s cubic-bezier(0.4, 0, 0.2, 1);
}

.swatch div:nth-child(5) {
    animation: swatch-orange-motion 8s cubic-bezier(0.4, 0, 0.2, 1);
}

.swatch div:nth-child(6) {
    animation: swatch-red-motion 8s cubic-bezier(0.4, 0, 0.2, 1);
}



@keyframes swatch-purple-motion {
    0% {
        transform: rotate(0deg);
    }

    30%,
    70% {
        transform: rotate(-65deg);
    }

    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-blue-motion {
    0% {
        transform: rotate(0deg);
    }

    30%,
    70% {
        transform: rotate(-40deg);
    }

    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-green-motion {
    0% {
        transform: rotate(0deg);
    }

    30%,
    70% {
        transform: rotate(-15deg);
    }

    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-yellow-motion {
    0% {
        transform: rotate(0deg);
    }

    30%,
    70% {
        transform: rotate(15deg);
    }

    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-orange-motion {
    0% {
        transform: rotate(0deg);
    }

    30%,
    70% {
        transform: rotate(40deg);
    }

    90%,
    10% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-red-motion {
    0% {
        transform: rotate(0deg);
    }

    30%,
    70% {
        transform: rotate(65deg);
    }

    90%,
    10% {
        transform: rotate(0deg);
    }
}